$number-of-columns: 12;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

* {
  box-sizing: border-box;
}

%gutter {
  padding-left: 15px;
  padding-right: 15px;
}

%constant-styles {
  @extend %gutter;
  width: 100%;
}

@for $i from 1 through $number-of-columns {
  %col {
    &-xs {
      &-#{$i} {
        @extend %constant-styles;
        @media (min-width: 0px) {
          float: left;
          width: 100% / $i;
        }
      }
    }

    &-sm {
      &-#{$i} {
        @extend %constant-styles;
        @media (min-width: $break-small) {
          float: left;
          width: 100% / $i;
        }
      }
    }

    &-md {
      &-#{$i} {
        @extend %constant-styles;
        @media (min-width: $break-medium) {
          float: left;
          width: 100% / $i;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @extend %constant-styles;
        @media (min-width: $break-large) {
          float: left;
          width: 100% / $i;
        }
      }
    }
  }

  %offset {
    position: relative;
    &-xs {
      &-#{$i} {
        @extend %constant-styles;
        @media (min-width: 0px) {
          float: left;
          width: 100% / $i;
        }
      }
    }

    &-sm {
      &-#{$i} {
        @extend %constant-styles;
        @media (min-width: $break-small) {
          float: left;
          width: 100% / $i;
        }
      }
    }

    &-md {
      &-#{$i} {
        @extend %constant-styles;
        @media (min-width: $break-medium) {
          float: left;
          width: 100% / $i;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @extend %constant-styles;
        @media (min-width: $break-large) {
          float: left;
          width: 100% / $i;
        }
      }
    }
  }
}

.test {
  @extend %col-md-4;
  height: 50px;
  background: red;
}
