html,
body {
  height: 100%;
  margin: 0;
}

body {
  height: 300%;
}
.container {
  height: 200%;
  left: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
}
.diagonal-cover {
  background: url(http://lorempixel.com/output/city-q-c-1920-1080-8.jpg);
  height: 200%;
  width: 200%;
  display: inline-block;
  position: absolute;
  right: -50%;
  top: -50%;
  transform: rotate(36deg);
}
